* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

:root {
  --vinho: #663339;
  --creme: #f5f0e5;
  --fundo: #ece2cc;
  --card: #6a363c;
  --card2: #39060a;
  --linear: #e0e0e0;
  --cardapio: #482227;
  --cardapio2: #773d43;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background: var(--creme);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 6px 6px rgb(0, 0, 0, 0.4);
}

.foto-logo {
  width: 200px;
  height: auto;
  position: relative;
  top: 50px;
  z-index: 10px;
  margin: 30px;
  overflow: hidden;
}

#menu {
  display: flex;
  padding: 15px 50px;
  position: relative;
  background-color: var(--vinho);
  border-radius: 20px;
  gap: 15px;
  margin-right: 50px;
}

#menu a {
  text-decoration: none;
  color: var(--creme);
  font-size: 17px;
  margin: 8px;
  text-align: justify;
}

.hero {
  background-color: var(--fundo);

  padding: 60px 3px 35px 5px;

  display: flex;
  justify-content: center;
  gap: 10em;
}
.hero-content h1 {
  font-size: 35px;
  margin-bottom: 40px;
  background: var(--fundo);
}

.hero-content p {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.destaques {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: var(--creme);
  width: 220px;
  height: 100px;
  border: none;
  border-radius: 16px;
  padding: 28px 20px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.click {
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}
/*.card {
  background-color: var(--creme);
  color: var(--vinho);
   border-radius: 14px;
  text-align:center;
   margin-bottom: 20px;
   position: relative;
   width: auto;
  padding: 0;
  display: grid;
  gap: 16px;
}*/

/*box-shadow:
  5px 5px 15px rgba(0, 0, 0, 0.2),
  -5px -5px 15px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(255, 255, 255, 0.6);*/

.inicio {
  font-size: 30px;
  background-color: var(--creme);
  text-align: center;
  padding: 60px 80px 80px;
}

.inicio h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 5px;
}

.inicio p {
  font-size: 46px;
  color: var(--vinho);
  margin-bottom: 48px;
}

.comidas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 48px;
}

.categoria {
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  background: var(--card);
  border-radius: 30px;
  padding: 15px 25px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 60px;
}

/* ----------------------------------------------------*/

.cardapio-completo {
  background: linear-gradient(
    135deg,
    var(--cardapio) 0%,
    var(--cardapio2) 100%
  );
}

.titulo-categoria {
  color: #ffff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 48px;
}

.categoria-bloco {
  margin-bottom: 40px; /*  espaçamento externo na parte inferior de um elemento */
  padding: 48px;
}

.itens {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.item-card {
  text-decoration: none;
  color: black;
  font-size: 20px;
  background: var(--creme);
  border-radius: 25px;
  padding: 15px 25px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
.preco {
  color: var(--vinho);
}

.cardapio-completo {
  background-image: url("../img/tela.png");
  background-size: cover;
  border: var(--vinho) solid 3px;
}

.btn-pedido{
background: linear-gradient(
    135deg,
    var(--cardapio) 0%,
    var(--cardapio2) 100%
  );
font-size: 30px;
text-decoration: none;
color: #ffff;
font-weight: 700;
border-radius: 20px;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
      width: 600px;
    height: 100px;
    margin-top: 20px;
}

.btn{
background: var(--creme);
height: 150px;
border: 2px solid var(--vinho);
}

.almoco-completo {
    background: #F7F3EA;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.cardapio {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #4E222A;
    margin-bottom: 40px;
}