* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

}

html {
  scroll-behavior: smooth;
}

:root {
  --vinho: #663339;
  --creme: #f5f0e5;
  --fundo: #ece2cc;
  --card: #6a363c;
  --card2: #39060a;
  --linear: #e0e0e0;
}

#menu {
  margin: 50px;
  padding: 50px;
  box-sizing: border-box;
  background: #663339;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 6px 6px rgb(0, 0, 0, 0.4);
  background: var(--creme);
}

.logo {
  display: flex;
  gap: 30px;
  height: 100%;
  border-radius: 150%;
  background-color: var(--vinho);
  position: relative;
  top: 50px;
  margin: 20px;
}

#menu {
  display: flex;
  padding: 15px 50px;
  position: relative;
  background-color: var(--vinho);
  border-radius: 20px;
  gap: 15px;
  margin-right: 50px;
}

#menu a {
  color: var(--creme);
  text-decoration: none;
  font-size: 17px;
  text-align: justify;
}

.hero {
  background-color: var(--fundo);
  position: relative;
  padding: 60px 3px 35px 5px;

  display: flex;
  justify-content: center;
  gap: 10em;
}

.hero-content{


}


.hero-content h1 {
  font-size: 35px;
  margin-bottom: 40px;
  background: var(--fundo);
}

.hero-content p {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.destaques {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: var(--creme);
  width: 220px;
  height: 100px;
  border: none;
  border-radius: 16px;
  padding: 28px 20px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.click {
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}
/*.card {
  background-color: var(--creme);
  color: var(--vinho);
   border-radius: 14px;
  text-align:center;
   margin-bottom: 20px;
   position: relative;
   width: auto;
  padding: 0;
  display: grid;
  gap: 16px;
}*/

/*box-shadow:
  5px 5px 15px rgba(0, 0, 0, 0.2),
  -5px -5px 15px rgba(0, 0, 0, 0.2);
border: 1px solid rgba(255, 255, 255, 0.6);*/


.inicio{
font-size: 30px;
background-color: var(--creme);
text-align: center;
}

.inicio p{
color: var(--vinho);
}
